.welcomeText {
  padding: 30px;
  font-size: 18px;
  text-align: center;
}

.welcomeText p {
  margin: 0;
}

.login {
  padding-bottom: 30px;
  font-size: 18px;
}

.login, .welcome {
  text-align: center;
}

.login input[type="text"], .login input[type="password"]  {
  display: block;
  margin: 15px auto;
  padding: 8px;
}

.login input:first-child {
  margin-top: 0;
}

.login input[type="submit"] {
  color: #202129;
  background-color: #edeeee;
  cursor: pointer;
  margin-top: 15px;
  padding: 12px 12px;
  text-align: center;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.3;
}

.login .loginMessage {
  margin: 30px 30px 0 30px;
}

.login .messageText {
  padding: 10px;
  color: #D8000C;
  background-color: #FFBABA;
}

.header {
  border-top: 1px solid #ededed;
}

.todo-list li .like {
  display: none;
  position: absolute;
  top: 0;
  right: 45px;
  bottom: 0;
  width: 70px;
  height: 40px;
  marginx: auto 0;
  font-size: 24px;
  color: #cc9a9a;
  padding: 15px 0;
  text-align: right;
  padding-right: 8px;
  transition: color 0.2s ease-out;
}

.todo-list li:hover .like {
	display: block;
}

.todo-list li label {
  padding-right: 100px;
}

.todo-list .like .numLikes {
  display: inline-block;
  padding-right: 4px;
}

.todo-list .like .likeTodo {
  display: inline-block;
}

.loader,
.loader:before,
.loader:after {
  background-color: #cc9a9a;
  -webkit-animation: loading 1s infinite ease-in-out;
  animation: loading 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #cc9a9a;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.message {
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  width: 100%;
  right: 0;
  padding: 15px;
  height: 30px;
  background: #0E536E;
  color: white;
  font-size: 20px;
  text-align: center;
  z-index: 2;
}

.message.showMessage {
  opacity: 1;
}

.message.error {
  background: red;
}
