.todo-list li .like {
  display: none;
  position: absolute;
  top: 0;
  right: 45px;
  bottom: 0;
  width: 70px;
  height: 40px;
  marginx: auto 0;
  font-size: 24px;
  color: #cc9a9a;
  padding: 15px 0;
  text-align: right;
  padding-right: 8px;
  transition: color 0.2s ease-out;
}

.todo-list li:hover .like {
	display: block;
}

.todo-list li label {
  padding-right: 100px;
}

.todo-list .like .numLikes {
  display: inline-block;
  padding-right: 4px;
}

.todo-list .like .likeTodo {
  display: inline-block;
}
